*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
	
}

header{
	  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(se.jpg);
	  height: 100vh;
	  background-size: cover;
	  background-position: center;
	
	  
} 


ul{
	float: right;
	list-style-type : none;
	margin-top: 25px;
	
	
}

ul li{
	display: inline-block;
	
}


ul li a{
	
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 2px solid white;
	
}

ul li a:hover{
	background-color: #fff;
	color: #000;
	
}


.logo img{
	float: left;
	width: 150px;
	height: auto;
	
	
}



.main{
	max-width: 1200px;
	margin : auto;
	
	
}


ul li.active a{
	background-color: #fff;
	color: #000;
	
	
}

.title{
	position:absolute;
	top: 50%;
	left : 50%;
	bottom: 50%;
	color: white;
	
	
	
}


.title h1{
	
	color: #fff;
	font-size: 50px;
	
}


.button{
	
	
	position:absolute;
	top: 80%;
	left : 50%;
	
	
	
	
	
}



.btn{
	
	border: 1px solid #fff;
	padding : 10px 30px;
	color: #fff;
	text-decoration : none;
	
}



.btn:hover{
	
	background-color: #fff;
	color: #000;
	
}

.form .code{
	display: balck;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border:none;
	outline: none;
	
}

.form button{
	width : 40%;
	display : inline-block;
	margin-left : auto;
	margin-right: auto;
	text-align : center;
	background-color: #00bab1;
	color: white;
	padding: .6rem;
	border: none;
	border-radius: .3rem;
	margin-top: 1rem;
	
	
	
}


.form .code {
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 2rem;
	padding: .6rem;
	border:none;
	outline:none;
}

.form{
	
	text-align: center;
}




.img{
	
	padding:20px;
	padding-bottom: 50px;
	margin-top: 20px;
	width: 250px;
	height:280px;
	
	
	
}



	


.list{
	float: left;
	width: 32%;
	margin-left: .5rem;
}


.pro{
	
	
	width: 90%;
	margin-top: .3rem;
	margin-left: auto;
	margin-right: auto;
}
	

	

.list:first-of-type {
	margin-left: 0;
}


	
	
	
.list:1{
	margin-left:0;
	
	
	
}
 .product{
	 
	 margin-bottom:20px;
	 top: 50%;
	
 }
	
	
	
.text{
	
	top: 50%;
	 bottom: 80%;
	 font-size: 15px;
	
	
}
	
.hero_im {
	background: url(heroimage.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 400px;
	position: relative;
}

.hero_im{
	
	height: 400px;
	
}


.footer{
	
	height: 380px;
	
	
}




.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
 
	padding: 55px 50px;
	margin-top: 220px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  #5383d3;
}
 
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
 
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}
 
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
 
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
 
	margin-right: 3px;
	margin-bottom: 5px;
}
 
 
@media (max-width: 80px) {
 
	.footer-distributed{
		font: bold 14px sans-serif;
	
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}
 
